

.containerViolao {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  .img {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
    margin: 0 auto;
    max-height: 507px;
    width: 100vw;
    display: flex;
  }
  
  .violaoContainer {
    display: none;
  }
 
.description{ max-width: 1200px;
  text-align: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 2rem;
   
}
.titledescription{ font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
.spandescription{  text-align: justify;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 2rem; 
    margin-bottom: 2rem;
    
}



  .allmateriais{
    max-width: 1350px;
    margin: 0 auto;
   
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
  }
  .divImgMateriais{
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: -2rem;
  
    padding-top: -1rem;
  
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
      background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
      box-shadow 500ms linear;
  }
  
  .divImgMateriais:hover {
   
    filter: brightness(1.2);
  }




.divImgMateriais{
    margin: 0 auto;
    max-width: 80%; 
}
  .imgCursos {
    width: 420px;
    height: 282px;
  }

/* Mobile */
@media (max-width: 768px) {
    .img {
      display: none;
    }
  
    .violaoContainer {
      display: flex;
      width: auto;
      height: auto;
      max-width: 100%;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
      min-width: 100%;
      
    }
   
.description{ margin-top: -1rem;
     
}
.titledescription {
  text-align: center; 
}

.spandescription {
  font-size: 0.8rem;
  text-align: justify;
  max-width: 90%; 
  margin: 0 auto; 
  margin-top: 2rem;

}

.allmateriais {margin-top: -1rem;
  justify-content: center; 
}

.divImgMateriais {
  max-width: 100%; 
  margin: 0 auto; 
}

.imgCursos {
 margin-top: 1rem;
  width: 350px;
        height: 235px;
}


}  
