.container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.menuContent {
  border-radius: 8px;
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1001;
  width: 400px;
}

.menu {
  position: relative;
  margin: 0 80px;
}

.menuButton {
  cursor: pointer;
  background-color: white;
  border: none;
}

.listaMenu {
  cursor: none;
  text-decoration: none;
  color: black;
  background-color: white;
}

.aContainer {
  font-size: 14px;
  cursor: pointer;
  color: black;
  list-style-type: none;
  padding: 5px 0;
}

.aContainer:visited {
  color: black;
}

@media (max-width: 768px) {
  .container {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .menuContent {
    border-radius: 8px;
    position: absolute;
    top: calc(100%);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1001;
    width: 200px;
  }
}
