.listaProducts {
  width: calc(80% - 2rem);
  padding: 1rem;
  width: 90%;
  background-color: white;
  border-color: #e5e7eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}
.imggif {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}
.skeleton {
  background-color: white;
}

.imageContainer {
  width: 100%;
  height: 280px;
}

.divSpan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.spanIcons {
  width: 30px;
  height: 30px;
  background-color: white;
}

.textpreço {
  margin-top: 1rem;
}

.divtextCategory {
  margin-top: 1rem;
}

.pcategory,
.ptitle,
.pprice,
.pdescription {
  height: 16px;
  background-color: white;
  margin-bottom: 0.5rem;
}

.hr {
  margin-top: 1rem;
}
