.divCartProducts {
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.allproducts {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 1rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.titleproduct {
  font-size: 1.125rem;
  font-weight: 600;
}

.descriptionproduct {
  font-size: small;
  color: gray;
}

.price {
  color: black;
  font-weight: bold;
}
.addAndRemove {
  background-color: #fff;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d2d6dc;
  padding: 0.25rem 1rem;
  border-radius: 0.8rem;
  width: 5.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.divaddandremove {
  gap: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.numberItens {
  margin-left: auto;
  margin-right: auto;
}

.divremoveproduct {
  display: flex;
  gap: 2px;
  margin-left: 0.7rem;
  color: #718096;
  transition: color 0.3s;
  cursor: pointer;
}

.divremoveproduct:hover {
  color: #f56565;
}

.priceSell {
  font-weight: bold;
}
@media (max-width: 768px) {
  .divCartProducts {
    margin: 0;
    width: 92vw;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .allproducts {
  }
  .descriptionproduct {
    max-width: 180px;
    margin: 0;
    margin-left: -2.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .imgProduct {
    margin-left: -3.4rem;
  }
  .titleproduct {
    margin-left: -2.5rem;
    width: 155px;
    font-size: 1rem;
    font-weight: 600;
  }
  .priceSell {
  }
}
