.iconWhatsapp{
    
    color: #5DBE26;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
   
}
.iconInstagram{
      
    color: #A051AC;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.iconYoutube{
    color: #D14029;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;


}

.iconEmail{
    color: #152459;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;


}


@media (max-width: 768px) {
    .iconWhatsapp{
    margin-right: 0.5rem;
        color: #5DBE26;
        background-color:white;
        font-size: 20px;
        border-radius: 50%;
       
    }
    .iconInstagram{
        margin-right: 0.5rem;
        color: #A051AC;
        background-color:white;
        font-size: 20px;
        border-radius: 50%;
    }
    
    .iconYoutube{ margin-right: 0.5rem;
        color: #D14029;
        background-color:white;
        font-size: 20px;
        border-radius: 50%;
    
    
    }
    
    .iconEmail{ margin-right: 0.5rem;
        color: #152459;
        background-color:white;
        font-size: 20px;
        border-radius: 50%;
    
    
    }
    
    
    
}