.iconWhatsapp {
  color: #5dbe26;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.iconInstagram {
  color: #a051ac;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.iconYoutube {
  color: #d14029;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.iconEmail {
  color: #152459;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.iconWhatsappfixed {
  color: #5dbe26;
  font-size: 60px;
  background-color: transparent;
  position: fixed;
  bottom: 0px;
  margin-left: 1rem;
  margin-bottom: 2rem;

  z-index: 1;
}

@media (max-width: 768px) {


.iconWhatsappfixed {
    color: #5dbe26;
    font-size: 30px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    margin-left: 2px;
    margin-bottom: 1rem;
  
    z-index: 1;
  }
  .iconWhatsapp {
    margin-right: 0.5rem;
    color: #5dbe26;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
  }
  .iconInstagram {
    margin-right: 0.5rem;
    color: #a051ac;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
  }

  .iconYoutube {
    margin-right: 0.5rem;
    color: #d14029;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
  }

  .iconEmail {
    margin-right: 0.5rem;
    color: #152459;
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
  }
}
