.containerComentarios{
 
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin-top: -4rem; 
    margin-bottom: 2px;
    width: 40%; 
    transition: all 0.3s; 
  }

  .pointerCursor {
    cursor: pointer;
  }
  
  
  .textareaInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    transition: all 0.3s;
  }
  
  .textareaInput::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; /* Torna o elemento transparente */
    z-index: 1; /* Coloca o elemento acima do textarea */
  }
  
  .submitButton { border-radius: 4px;
    background-color: #f57b4277;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-left: 0.5rem;
    transition: all 0.3s;
  }

  .buttonAfter {
    background-color: #F57A42; /* Cor após digitar */
    color: #fff; /* Cor do texto após digitar */
  }

  .rsubmitButton { border-radius: 4px;
    background-color: #f57b4277;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    
  }

  .rbuttonAfter {
    background-color: #F57A42; /* Cor após digitar */
    color: #fff; /* Cor do texto após digitar */
  }


.commentList { width: 40%; 
  list-style-type: none;
  margin-left: 0.5rem;
  word-wrap: break-word; 
  background-color:#FFFAFA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.089), 0 1px 2px rgba(0, 0, 0, 0.027);
  border-radius: 4px;
  padding-bottom: 2rem;
}
.downButton{  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px; /* Adjust this margin as needed to control the vertical spacing */
  font-weight: bolder;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.vermaistext{ 
  color: #F57A42;
  right: 0;
  top:0;
}

.commentLikes{
  display: inline-block;
  margin-left: 10px; 
}

.likeButton{
  display: inline-block;
  margin-left: 10px; 
}
.replyLikes{
  display: inline-block;
  margin-left: 10px; 

}

.upButton{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1px; /* Adjust this margin as needed to control the vertical spacing */
  font-weight: bolder;
  background-color: transparent;
  color: white;
  border: none;

  cursor: pointer;
  
}
.vermenostext{
 color: #F57A42;
  right: 0;
}
.commentItem {  margin-bottom: 10px;
  position: relative; 
  padding: 5px; /* Espaçamento interno para separar os comentários */
  word-wrap: break-word; 
}

.commentAuthor {
  font-weight: bold;
}

.commentTimestamp {
  color: #666;
  font-size: 0.9em;
}

.buttonresponder{position: absolute; /* Positioning */
  top: 0; /* Align to the top */
  right: 0; 
  font-weight: bolder;
  background-color: white;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  margin-top: 3px;
}
.likeButton { transition: background-color 0.3s, color 0.3s;
  position: absolute; /* Positioning */
  top: 0; /* Align to the top */
  right: 160px; 
  font-weight: bolder;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 50%
}

.likeButtonreply { transition: background-color 0.3s, color 0.3s;
  font-weight: bolder;
  background-color: white;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 50%;
}



.replyLikes{
  color: blue;
  font-size: 0.8rem;

}
.commentLikes{
color: blue;
font-size: 0.8rem;
}
.loginbuttonresponder{
  font-weight: bolder;
  background-color: white;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 0.7rem;
  text-decoration: none;
}

.replyForm{
  width: 100%;
}

.deleteButton{  position: absolute; 
  top: 0; 
  right: 80px; 
  font-weight: bolder;
  background-color: white;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}


.divrespostas{
   border-radius: 8px;
  
}
.titlerespostas{ margin-left: 0.8rem;
  color: #F57A42;
  font-size: 0.8em;
}
.replyList{
  list-style: none;
}

.replyItem{
  
font-size: 0.9em;
}

.replyAuthor{
  font-weight: bold;
}

.replyTimestamp{
color: #666;
  font-size: 0.9em;
}
.deleteButtonreply{
  font-weight: bolder;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: transparent;
}

@media (max-width: 768px){
  .formContainer {
    width: 320px;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 1rem;
  }
  .textareaInput {
   width: 100%;
   
  }
  
  .textareaInput::before {
    width: 100%;
  }
  
  .submitButton {
    margin-left: 0.6rem;
    width: 320px;
  }

  .buttonAfter {
   
  }

  .rsubmitButton {
    font-size: 0.8rem;
    
    width: 320px;
  }

  .rbuttonAfter {
    font-size: 0.8rem;
  }


.commentList { width: 320px;
 
}

.commentItem {  margin-bottom: 10px;
  font-size: 0.8rem;
  position: relative;
}

.commentAuthor {
  font-size: 0.8rem;
}

.commentTimestamp {
  font-size: 0.8rem;
}

.buttonresponder{  position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;
 
}

.likeButton { position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;
}

.likeButtonreply { position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;
}



.replyLikes{
  position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;

}
.commentLikes{
  position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;
}

.replyForm{
 
}

.deleteButton{  position: static;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.7rem;
}


.divrespostas{
  
}
.titlerespostas{ margin-left: 0.8rem;
  
}
.replyList{
  font-size: 0.8rem;
}

.replyItem{
  font-size: 0.8rem;
}

.replyAuthor{color: blue;
  font-size: 0.8rem;
}

.replyTimestamp{
  font-size: 0.8rem;
}
.deleteButtonreply{
  font-size: 0.7rem;
}
}