.headerContainer {
  height: 3.5rem;
  background-color: white;
  box-shadow: inset 0 -3px 2px rgba(0, 0, 0, 0.144);
  position: sticky;
  z-index: 100;
  top: 0px;
}

.headerContent {
  height: 4rem;
  justify-content: space-between;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.img {
  background-color: transparent;
  cursor: pointer;
  margin-right: auto;
  height: 47%;
  width: 47%;
}

.navContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
 
}


.aContainer { 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.034);
  margin: 0 4rem;
  margin-left: auto;
  text-decoration: none;
  transition: color 1s;
  color: black;
  font-size: 0.8rem;
}
.aContainer:visited {
  color: black;
}

.aContainer:hover {
  color: #f15074;
  transition: color 0.3s ease;
  text-decoration: none;
}

.mobileMenuIcon {
  display: none;
}

@media (max-width: 768px) {
  .headerContainer {
    background-color: #fefefe;
    align-items: center;
    height: 2.5rem;

    justify-content: center;
  }

  .headerContent {
    padding: -1rem;
  }

  .img {
    height: 60%;
    width: 60%;
    margin-bottom: 0.6rem;
    width: 8rem;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    top: 40px;
    border-top: solid 0.4px black;
    left: 0;
    right: 0;
    position: fixed;
    padding-bottom: 1rem;
    
    opacity: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
  }


.navContainer.open {
  
  opacity: 1;
  transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
}

  .aContainer { transform: scale(1);
    opacity: 1;
    visibility: visible;
    width: 90%;
    text-align: right;
    margin-top: 1rem;
    font-size: 0.8rem;
    
    
  }

  .mobileMenuIcon {
    display: flex;
  }
}
