.img {box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
    margin: 0 auto;
  max-height: 507px;
  width: 100vw;
  display: flex;
  
  
  }
  .violaoContainer{display:none;}

  .textContent{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
  }
  
  .title{
    margin-bottom: 1rem;

  }
.descricaoconstucao{margin: 0 auto;
    text-align: center;
    width: 60%;
}
  .divLista{
    align-items: center;
  text-align: center;
margin-bottom: 2rem;
}

  .itens{ 
    color: #F57A42;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  .item{
    margin-bottom: 1rem;
  }
.form{display: flex;
  align-items: center;
  justify-content: center;
margin: 0 auto;}

  @media (max-width: 768px) {
    .main {background-color: #D4D4D4;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
  
    
  
    .img {
   display: none;
    }
  
  
    .violaoContainer{   
      
  
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
    min-width: 100%;
    
      }

    }