.containerViolao{
    width: 100%;
    max-width: 100%;
    position: relative;
   
  }

  
  .img {box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
    margin: 0 auto;
  max-height: 507px;
  width: 100vw;
  display: flex;}
  
    .violaoContainer { display: none;
     
    }

  .cursodegaita{  clear: both;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
    text-align: justify;
    text-decoration: none;
    justify-content: space-between;
  }

  .textContainer {
    float: left;
    width: 60%; 
    margin-right: 1rem; 
  }

  .imageContainer {
    float: right;
    width: 30%; 
    align-items: center;
  }

  .fotocurso{
  margin-left: 4rem;
    max-width: 100%; 
    width: 350px;
    height: 350px;
   
    
  }

  .title{
    
   
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-shadow: rgba(0, 0, 0, 0.151) 0.1em 0.1em 0.2em
  }

  .item{
    font-size: bolder;
  }

  .apresentacao{ text-decoration: none; 
    list-style-type: none;
    font-size: 1.2rem;
    margin-bottom: 1rem
  }

  .subtitle{
   font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 0.048) 0.1em 0.1em 0.2em;
    margin-bottom: 0.2rem;
  }



/* Mobile */
@media (max-width: 768px) {
  .cursodegaita{ flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  width: 100%;
  }



  .img{display: none;}


  .violaoContainer{
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
  }
  


  .textContainer {
    float: none;
    width: 90%;
   
  }

  .imageContainer {
    float: none;
    width: 90%;
    align-items: center;
  }

  .fotocurso{
    margin-top: 1rem;
    
    width: 200px;
    height: 200px;
   
    
  }

  
  .title{
    text-align: center;
    width: 90%;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-shadow: rgba(0, 0, 0, 0.151) 0.1em 0.1em 0.2em
  }

  .item{
    font-size: bolder;
  }

  .apresentacao{
    font-size: 0.8rem;
    margin-bottom: 1rem
  }

  .subtitle{
   font-size: 0.8rem;
    text-shadow: rgba(0, 0, 0, 0.048) 0.1em 0.1em 0.2em;
    margin-bottom: 0.2rem;
  }

  









}