.iconCursos{
    
    color: #FF7B43;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
   
}

.iconBlog{
    
    color: #FF7B43;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
   
}

.iconContact{

   
    
   
    color: #FF7B43;
    background-color:white;
    font-size: 40px;
    border-radius: 50%;
}


.iconCurso{
    color: #FF7B43;
    background-color: transparent;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    position: relative;
    top:4px;
    margin-right: 0.5rem;
    
  
}

.menuIcon{
    
}


@media (max-width: 768px) {
    .iconCurso{
        align-items: flex-start;
        margin-left: -1rem;

    }

    .iconCursos{
    
        background-color:transparent;
        font-size: 25px;
        border-radius: 50%;
       
    }
    
    .iconBlog{
        
     
        background-color:transparent;
        font-size: 25px;
        border-radius: 50%;
       
    }
    
    .iconContact{
    
 
        background-color:transparent;
        font-size: 25px;
        border-radius: 50%;
    }


.menuIcon{
    font-size: 25px;
   align-items: center;
   margin-bottom: 1.5rem;
   width: 40px;
  
 
}

    
}