.iconCursos{
    
    color: #152459;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
   
}

.iconBlog{
    
    color: #FF7B43;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
   
}

.iconContact{

    color: #ff4343;
    background-color:white;
    font-size: 70px;
    border-radius: 50%;
}


.iconCurso{
    color: #FF7B43;
    background-color: transparent;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    position: relative;
    top:4px;
    margin-right: 0.5rem;
    
  
}


@media (max-width: 768px) {
    .iconCurso{
        align-items: flex-start;
        margin-left: -1rem;

    }

    .iconCursos{
    
        color: #152459;
        background-color:white;
        font-size: 35px;
        border-radius: 50%;
       
    }
    
    .iconBlog{
        
        color: #FF7B43;
        background-color:white;
        font-size: 35px;
        border-radius: 50%;
       
    }
    
    .iconContact{
    
        color: #ff4343;
        background-color:white;
        font-size: 35px;
        border-radius: 50%;
    }
    
}