
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,200;1,400&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Catamaran:wght@300&family=DM+Serif+Display&family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@400;700&family=Ubuntu:ital@1&display=swap');

* {
  text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

      
}

p, ul , li, span {
  font-family: 'Montserrat', sans-serif;
}

