.main {
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.containerHeader {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
  margin: 0 auto;
  max-height: 507px;
  width: 100vw;
  display: flex;
}
.imgMobile {
  display: none;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
.buttonContainer {
  margin-bottom: -2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  border: none;
  background-color: white;
  width: 280px;
  height: 270px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.158), 0 2px 5px rgba(0, 0, 0, 0.137);
  margin: 0 20px;
  margin-top: -4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 500ms linear;
}

.buttons:hover {
  transform: scale(1.05);
  background-position: -60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.iconButton {
  margin-bottom: 10px;
  display: block;
  align-items: center;
}

.titleButton {
  font-weight: bold;
  font-size: 1rem;
  display: block;
}

.subtitleButton {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  display: block;
  margin-top: 1rem;
}

.subtitle {
  margin-top: 10rem;

  font-size: 1rem;
  line-height: 2rem;
  color: white;
}

.containerTwo {
  margin-top: -2rem;
  background-color: white;
  padding-bottom: 4rem;
  margin-bottom: -4rem;
  padding-top: 2rem;
}

.cursosSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.curso {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 8rem;

  padding-top: -1rem;

  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 500ms linear;
}

.curso:hover {
 
  filter: brightness(1.2);


}
.divTitle {
  align-items: center;
  display: flex;
  padding-top: 2rem;
}

.titleCursos {
  width: 300px;
  height: 220px;
}

.spanCursos {
  color: #214e36;
  margin-left: -2.2rem;
  font-size: 1.4rem;
  position: relative;
  font-weight: bold;
}

.spanCursos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0000009c;
}

.titleCurso {
  color: white;

  flex: 1;
  margin-left: 1rem;
  font-size: 1.8rem;
  margin-top: 0.2rem;
}

.imgCursos {
  width: 360px;
  height: 360px;
}

.textoCursos {
  color: #214e36;
  text-align: center;
  font-size: 2.5rem;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: -4rem;
}

.containerThree {
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
}

.agendar {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.buttonPresencial {
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
  color: white;
  background: #f34e24;
  position: absolute;
  bottom: 0;
  left: 25%;
  margin-bottom: 8rem;
  border-radius: 4px;
  width: 450px;
  padding: 10px;
  text-align: center;
  line-height: 1;
  z-index: 1;
}
.buttonPresencial:hover {
  background-color: #f34d24ad;
  transition: background-color 1s ease;
}
.buttonOnline {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
  color: white;
  background: #56ac30;
  position: absolute;
  bottom: 0;
  right: 25%;
  margin-bottom: 8rem;
  width: 450px;
  padding: 10px;
  text-align: center;
  line-height: 1;
  z-index: 1;
}

.buttonOnline:hover {
  background-color: #55ac30cb;
  transition: background-color 1s ease;
}

.agendaraula {
  width: 100%;
  max-width: 100%;
  height: 300px;
  margin-top: -4rem;
  box-shadow: 5px 3px 7px 4px rgba(0, 0, 0, 0.5);
}
.title3 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 900;
  margin-top: 2.5rem;
  color: #5a1929;
}

.ctaText {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.imgcontainer {
  display: inline-block;
  position: relative;
}

.img2 {
  padding-top: 2rem;
  border-radius: 8px;
  width: 750px;
  height: 500px;
  margin-left: 8rem;
  transition: 0.3s ease-in-out;
}

.imgcontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.imgcontainer:hover .img2 {
  filter: brightness(1.5);
  cursor: pointer;
}

.imgcontainer:hover::before {
  opacity: 0.5; /* Torna o fundo branco transparente visível quando passa o mouse */
}
.divLista {
  padding: 2rem;
  background-color: rgba(128, 128, 128, 0.164);
  height: 150px;
  border-radius: 12px;
  margin-left: 4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.034), 0 1px 2px rgba(0, 0, 0, 0.027);
}

.lista {
  margin: 0 auto;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.item {
  margin-bottom: 10px;
}

.contatos {
  align-items: flex-start;
  text-align: left;
  margin-left: 6rem;
}

.itemContato {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  text-align-last: justify;
}

.paragrafo3 {
  max-width: 1700px;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    background-color: #d4d4d4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerHeader {
  }

  .img {
    display: none;
  }

  .imgMobile {
    display: flex;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  .titleCursos {
    width: 200px;
    height: 120px;
    margin-bottom: -1rem;
  }

  .spanCursos {
    margin-left: 0;
    display: flex;
    font-size: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  .curso {
    margin-top: 1.5rem;
    margin-bottom: -1rem;
  }

  .imgCursos {
    width: 180px;
    height: 180px;
  }

  .textoCursos {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: -2.5rem;
  }

  .ctaText {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    align-items: center;
  }

  .buttonGroup {
    display: flex;

    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .buttonContainer {
    border: none;
  }

  .buttons {
    background-color: transparent;
    border: none;
    margin: 0 10px;
    margin-top: -10rem;
    box-shadow: none;
    width: 100px;
    height: 100px;
  }

  .iconButton {
    margin-bottom: 5px;
    display: block;
    align-items: center;
  }

  .titleButton {
    font-weight: bold;
    font-size: 0.8rem;

    color: white;
  }

  .subtitleButton {
    display: none;
  }

  .subtitle {
    display: none;
  }

  .divSubtitle {
  }

  .containerThree {
    flex-direction: column;
  }

  .title3 {
    font-size: 1.2rem;
    line-height: 3rem;
    padding-bottom: 1rem;
  }

  .img2 {
    margin: 0 auto;
    max-width: 390px;
    padding: 0;
    width: 390px;
    height: 295px;
    margin-top: -1rem;
  }

  .divLista {
    margin-left: 5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .lista {
    margin-bottom: 8rem;
    padding-top: -1rem;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    font-size: 0.8rem;
  }

  .item {
    padding-bottom: 0.7rem;
    margin-bottom: -4px;
  }

  .item:not(:last-child) {
    margin-bottom: 0;
  }

  .agendaraula {
  display: none;
  }

  .agendar {
   display: none;
  }

  .agendarMobile{  width: 100%;
    max-width: 100%;
    position: relative;
    margin-top: 4rem;
  padding-top: 4rem;
padding-bottom: 2rem;}

    .buttonPresencialmobile {
      border: none;
      font-size: 1rem;
      width: 170px;
      padding: 15px;
      line-height: 0.5;
      cursor: pointer;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
      color: white;
      background: #f34e24;
      position: absolute;
      top: 70%; /* ajuste a posição vertical conforme necessário */
      left: 20px; /* ajuste a posição horizontal conforme necessário */
      transform: translateY(-50%);
      border-radius: 4px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
    }
    .buttonPresencialmobile:hover {
      background-color: #f34d24ad;
      transition: background-color 1s ease;
    }
    .buttonOnlinemobile {
      font-size: 1rem;
      width: 170px;
      padding: 15px;
      line-height: 0.5;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
      color: white;
      background: #56ac30;
      position: absolute;
  top: 70%; /* ajuste a posição vertical conforme necessário */
  right: 20px; /* ajuste a posição horizontal conforme necessário */
  transform: translateY(-50%);
  border-radius: 4px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.103);
    }
    
    .buttonOnlinemobile:hover {
      background-color: #55ac30cb;
      transition: background-color 1s ease;
    }
    
  .contatos {
    display: flex;
    justify-content: space-between;
  }

  .contatosList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: -1.5rem;
  }

  .itemContato {
  }

  .paragrafo3 {
    max-width: 350px;
    margin: 0 auto;
    text-align: justify;
    font-size: 0.7rem;
    margin-top: 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
