.imgMobile {
  display: none;
}
.facaparte {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.185);
}

.principal {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  justify-content: center;
}

.titles {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
  margin-right: 4rem;
}

.videoAndText {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.divvideo {
  flex: 1;
  margin-right: 2rem;
  margin-bottom: 5rem;
}

.subtitles {
  text-align: justify;
  max-width: 400px;
  flex: 1;
}
.video {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f0f0f0;
  max-width: 100%;
}

.cliqueaqui{
  color: #f34e24;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  transition: color 0.3s;
}
.cliqueaqui:hover{
  color: #f15074;
  transition: color 0.3s ease;
  text-decoration: none;
}

@media (min-width: 769px) {
  .imgMobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .imgMobile {
    display: flex;
    margin: 0 auto;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  .facaparte {
    display: none;
  }

  .principal {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .titles {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: 0rem;
  }

  .videoAndText {
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    display: flex;

    align-items: center;
  }

  .divvideo {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .subtitles {
    text-align: justify;
    max-width: 360px;
    font-size: 0.9rem;
  }
  .video {
    border-radius: 2px;

    background-color: #f0f0f0;
    max-width: 320px;
    max-height: 200px;
  }

}
