.iconWhatsapp {
  color: #5dbe26;
  background-color: transparent;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;
}

.iconWhatsapp:hover{ transform: scale(1.05);
  background-position: -60px;
  filter: brightness(1.2);
  
}
.iconInstagram {
  color: #eda5fc;
  background-color: transparent;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;
}


.iconInstagram:hover{ transform: scale(1.05);
  background-position: -60px;
  filter: brightness(1.2);
}

.iconYoutube {
  color: #d14029;
  background-color: transparent;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;

}


.iconYoutube:hover{ transform: scale(1.05);
  background-position: -60px;  filter: brightness(1.2);
}

.iconEmail {
  color: #3964ff;
  background-color: transparent;
  font-size: 40px;
  border-radius: 50%;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;
}
.iconEmail:hover{ transform: scale(1.05);
  background-position: -60px;  filter: brightness(1.2);
}
.iconSend{ color: #3964ff;
  font-size: 20px;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;
}
.iconSend:hover{ transform: scale(1.05);
  background-position: -60px;  filter: brightness(1.2);
}
.iconCopy{color: #F14F72;
  font-size: 20px;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;
}
.iconCopy:hover{ transform: scale(1.05);
  background-position: -60px;  filter: brightness(1.2);
}

.iconTel{color:#5dbe26;
  font-size: 20px;
  margin-right: 0.5rem; transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  background-position 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
  box-shadow 500ms linear;

}
.iconTel:hover{transform: scale(1.05);
  background-position: -60px;  filter: brightness(1.2);}

@media (max-width: 768px) {



  .iconWhatsapp {
   
    color: #5dbe26;

    font-size: 30px;
    border-radius: 50%;
  }
  .iconInstagram {
  
    color: #eda5fc;
    
    font-size: 30px;
    border-radius: 50%;
  }

  .iconYoutube {
   
    color: #d14029;
   
    font-size: 30px;
    border-radius: 50%;
  }

  .iconEmail {
    
    color: #3964ff;
  
    font-size: 30px;
    border-radius: 50%;
  }
}
