.formContainer {
  float: right;
  width: 30%;
  padding: 15px;
  background: linear-gradient(to bottom, white, #FAD7CF);
border-radius: 4px;
}

.formTitle {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10px;
}

.formlabel {
  text-align: left;
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}

.formInput {
  width: 95%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.formButton {
  background-color:#d14029 ;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  margin-left: 25%;
  transition: background-color   0.3s;
}

.formButton:hover {
  background-color:#fa0875 ;
  transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
  .formContainer {
    align-items: center;
    float: none;
    width: 80%;
    padding: 15px;
  }


}
