.DeleteIcon {
  color: red;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
  vertical-align: middle;
}
.DownArrow{
   border: none;
    background-color: #FFFAFA;
    font-size: 20px;
    border-radius: 50%;
    color: #F57A42;
    vertical-align: middle;
    
}
.LikeIcon {
  border: none;
  background-color: #FFFAFA;
  font-size: 20px;
  border-radius: 50%;
  color: blue;
  vertical-align: middle;
  cursor: pointer; 
  transition: color 0.3s; 
}


.LikeIcon:active {
  color: red; /* Cor quando clicado */
}


.UpArrow{
  border: none;
  background-color: #FFFAFA;
  font-size: 20px;
  border-radius: 50%;
  color: #F57A42;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .DeleteIcon {
    background-color: transparent;
    font-size: 10px;
    border-radius: 50%;
  }
}
