.CartIcon {
  border: none;
  background-color: transparent;
  font-size: 25px;
  border-radius: 50%;
  color: #0a9745;
  vertical-align: middle;
}
.DashCartIcon {
  border: none;
  background-color: transparent;
  font-size: 25px;

  color: #0a9745;
  vertical-align: middle;
}
.SearchIcon {
  color: white;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
  vertical-align: middle;
}

.HeartIcon {
  border: none;
  background-color: transparent;
  font-size: 25px;
  border-radius: 50%;
  color: red;
  vertical-align: middle;
}

.DeleteIcon {
  color: red;
  background-color: transparent;
  font-size: 20px;
  border-radius: 50%;
  vertical-align: middle;
}
.DownArrow {
  border: none;
  background-color: #fffafa;
  font-size: 20px;
  border-radius: 50%;
  color: #f57a42;
  vertical-align: middle;
}
.LikeIcon {
  border: none;
  background-color: #fffafa;
  font-size: 20px;
  border-radius: 50%;
  color: blue;
  vertical-align: middle;
  cursor: pointer;
  transition: ease color 0.3s;
}

.LikeIcon:active {
  color: red; /* Cor quando clicado */
}

.UpArrow {
  border: none;
  background-color: #fffafa;
  font-size: 20px;
  border-radius: 50%;
  color: #f57a42;
  vertical-align: middle;
}
.RemoveIcon {
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.3s ease;
}
.RemoveIcon:hover {
  transition: color 0.3s ease;
  color: rgb(248, 75, 75);
}
.AddIcon {
  font-size: 20px;
  transition: color 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}
.AddIcon:hover {
  transition: color 0.3s ease;
  color: rgb(42, 129, 42);
}
.cardIcon {
  background-color: #48bb78;
  border-radius: 9999px;
  padding: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.875rem;
  color: white;
}
.infoIcon {
  margin-bottom: 1rem;
  background-color: red;
  border-radius: 9999px;
  padding: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
  font-size: 0.875rem;
  color: white;
}
@media (max-width: 768px) {
  .DeleteIcon {
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
  }
}
